{% extends "base.html" %}


{% block content %}
  <div class="container">
  <h3 class='display-4 page-title'>Order History</h1>
    <hr/>

  {% if orders|length > 0 %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Sl No.</th>
          <th scope="col">Item</th>
          <th scope="col">Quantity</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
          {% for order in orders %}
          <tr>
            <td> {{ order.id }} </td>
            <td> {{ order.type }} </td>
            <td> {{ order.quantity }} </td>
            <td>{% if order.status == 'pending' %}<span class="badge badge-primary">Pending</span>
              {% elif order.status == 'processed' %}<span class="badge badge-warning">Processed</span>
              {% else %}<span class="badge badge-success">Success</span>{% endif %}
            </td>
          </tr>
            {% endfor %}
      </tbody>
  </table>

  <center><p>Want more products, <button type="submit" class="btn btn-sm"
    style="background-color:#5593b3; color:#ffffff;"
    onclick="location.href = '/orders/add';">Order Now</button></p></center>

  {% else %}

  <center><p class='display-4 page-title' style="color:#000000; font-size:25px;">You haven't ordered any products yet<br/> <button type="submit" class="btn btn-sm"
    style="background-color:#5593b3; color:#ffffff; font-size:20px; padding:20px; margin:10px;"
    onclick="location.href = '/orders/add';">Order Now</button></p></center>

  {% endif %}
</div>
<br />
{% endblock content %}
