{% extends "base.html" %}

{% block content %}

<!-- First Parallax Section -->
<div class="paral paralsec" style="position: relative; padding-bottom: 30px;">
<div class="head-desc" style="position: absolute; bottom: 0; left: 0;">
<p class="lead">DEVELOPING INNOVATIVE STRATEGIES</p>
<h1 class="display-3">ACHIEVING GROWTH</h1>
</div>
</div>

<div style="margin-top:50px;"> </div>

<div class="container">
  <div class="row">
    <div class="col-sm columns">
      <h3>Services</h3>
      <p>I'm a paragraph. Click here to add your own text and edit me.
        It’s easy. Just click “Edit Text” or double click me to add your own
        content and make changes to the font. I’m a great place for you to tell
        a story and let your users know a little more about you.</p>
      <button type="button" class="btn button">More Info</button>
    </div>
    <div class="col-sm columns">
      <h3>Projects</h3>
      <p>I'm a paragraph. Click here to add your own text and edit me.
        It’s easy. Just click “Edit Text” or double click me to add your own
        content and make changes to the font. I’m a great place for you to tell
        a story and let your users know a little more about you.</p>
      <button type="button" class="btn button">More Info</button>
    </div>
    <div class="col-sm columns">
      <h3>Clients</h3>
      <p>I'm a paragraph. Click here to add your own text and edit me.
        It’s easy. Just click “Edit Text” or double click me to add your own
        content and make changes to the font. I’m a great place for you to tell
        a story and let your users know a little more about you.</p>
      <button type="button" class="btn button">More Info</button>
    </div>
  </div>
</div>

<div style="margin-top:50px;"> </div>

<div style="width:100%; background-color:#a4d5eb; margin:0; text-align:center;">
  <div class="container" style="padding:50px;">
    <h1 class="display-3 home_titles" style="color:#0c3c60;">About</h1>
    <p class="home_desc" style="color:#0c3c60;">I'm a paragraph. Click here to add your own text and edit me. It’s easy.
      Just click “Edit Text” or double click me to add your own content and make changes to the font.
      Feel free to drag and drop me anywhere you like on your page. <br />
      I’m a great place for you to tell a story and let your users know a little more about you.
      This is a great space to write long text about your company and your services. You can use this s
      pace to go into a little more detail about your company. Talk about your team and what services you provide.
      Tell your visitors the story of how you came up with the idea for your business and what makes you different
      from your competitors. </p>
      <button type="button" class="btn button home_button">More Info</button>
  </div
</div>

<div style="width:100%; background-color:#0c3c60; margin:0; text-align:center;">
  <div class="container" style="padding:50px;">
    <h1 class="display-3 home_titles" style="color:#ffffff;">Contact</h1>
    <p class="home_desc" style="color:#ffffff;">
      500 Terry Francois Street,<br />
      San Francisco, CA 94158<br />
      info@mysite.com<br />
      Tel: 123-456-7890<br />
 </p>
  </div
</div>

{% endblock content %}
