{% extends "base.html" %}

{% block content %}

{% load static %}

<style>
.paralsec1 {
background-image: url("{% static "commons/images/paralsec2.jpg" %}");
}
</style>

<!-- First Parallax Section -->
<div class="paral paralsec" style="position: relative; padding-bottom: 30px;">
<div class="head-desc" style="position: absolute; bottom: 0; left: 0;">
<p class="lead">DEVELOPING INNOVATIVE STRATEGIES</p>
<h1 class="display-3">ACHIEVING GROWTH</h1>
</div>
</div>

<div style="padding:50px; background-color:#bce2ff">

<!--THREE BOXES
  <div class="row">
    <div class="col-sm columns">
      <h3>Services</h3>
      <p>I'm a paragraph. Click here to add your own text and edit me.
        It’s easy. Just click “Edit Text” or double click me to add your own
        content and make changes to the font. I’m a great place for you to tell
        a story and let your users know a little more about you.</p>
      <button type="button" class="btn button">More Info</button>
    </div>
    <div class="col-sm columns">
      <h3>Projects</h3>
      <p>I'm a paragraph. Click here to add your own text and edit me.
        It’s easy. Just click “Edit Text” or double click me to add your own
        content and make changes to the font. I’m a great place for you to tell
        a story and let your users know a little more about you.</p>
      <button type="button" class="btn button">More Info</button>
    </div>
    <div class="col-sm columns">
      <h3>Clients</h3>
      <p>I'm a paragraph. Click here to add your own text and edit me.
        It’s easy. Just click “Edit Text” or double click me to add your own
        content and make changes to the font. I’m a great place for you to tell
        a story and let your users know a little more about you.</p>
      <button type="button" class="btn button">More Info</button>
    </div>
  </div>
-THREE BOXES-->

<div class="container">
  <h2 class="display-5 home_titles" style="color:#0c3c60; text-align:center;">Our Products</h1>
<div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="{% static "commons/images/aama.jpg" %}" class="rounded" style="width:100%; height:200px;">
          <div class="caption">
          </div>
      </div>
    </div>
    <div class="col-md-4" >
      <div class="thumbnail">
          <img src="{% static "commons/images/starfish.jpg" %}" class="rounded" style="width:100%; height:200px;">
          <div class="caption">
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="{% static "commons/images/bluefish.jpg" %}" class="rounded" style="width:100%; height:200px;">
          <div class="caption">
          </div>
      </div>
    </div>
  </div>
  <br />
  <center><button type="button" class="btn button home_button"  onclick="location.href = '/orders/add';">Order Now</button></center>
</div>

</div>

<div class="jumbotron paralmini paralsec1">
<h1 class="display-3" style="font-weight:bold;">Fresh Sea Food Products</span></h1>
<p class="lead">From Sea To Heart</p>
<p class="lead"></p>
</div>

<div style="margin-top:50px;"> </div>

<div class="container">
<center>
      <h2 class="display-4 home_titles" style="color:#0c3c60;">Contact</h1>
      <p class="home_desc" style="color:#0c3c60; font-size:18px;">
        Delmar Enterprises<br />
        251878, Manathupadam Road<br />
        Changampuzha Nagar P.O. Kochi 682033<br />
        Telefax (Office):91 484 24587011<br />
   </p>
</center>
</div>

</div>
<div style="margin-top:50px;"> </div>
</div>

{% endblock content %}
