<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% load static %}

  <link rel="stylesheet" href="{% static "commons/css/bootstrap.min.css" %}">

  <script src="{% static "commons/js/jquery.min.js" %}"></script>
  <script src="{% static "commons/js/popper.min.js" %}"></script>
  <script src="{% static "commons/js/bootstrap.min.js" %}"></script>

  <link rel="stylesheet" href="{% static "commons/css/custom.css" %}">

  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
  .paralsec {
  background-image: url("{% static "commons/images/bluesea.jpg" %}");
  }
  </style>

</head>

{% load crispy_forms_tags %}

<body>

  <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-primary">
     <div class="container heading">
      <a class="navbar-brand" href="/">Delmar <span style="color:#7DCADA">Enterprises</span> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbarSm">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="collapsingNavbarSm">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
              </li>
          </ul>
      </div>
    </div>
  </nav>

     <div class="Absolute-Center is-Responsive">
       <h3 class='display-4 page-title' style="padding:0px; margin-bottom: 1em;">Login</h1>
    <form action="login", method="POST">
      {% csrf_token %}
      <!--  <table>{{form}}</table> -->
      {{ form|crispy }}
      <button type="submit" class="btn btn-block" style="background-color:#5593b3; color:#ffffff;">Login</button>
    </form>
    <br/>
    {% if error == None %} <!--Print Nothing-->{% else %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}
    <center><a href="/" style="padding-bottom: 30px;"><i class="fa fa-angle-left"></i> Home</a></center>
  </div>
</body>
</html>
