html, body {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.bg-primary {
  background-color: #0c3c60 !important;
}

.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 2px;
}


.navbar-brand {
  font-size:1.75rem;
}

.navbar-dark .navbar-nav .nav-link{
  color:#fff;
}

.navbar {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

/* PARALLAX EFFECT STARTS*/


.paral {
min-height: 85vh;
background-attachment: fixed;
background-size: cover;
background-position: 50% 50%;
text-align: center;
}


.paral p {
font-size: 20px;
text-align: center;
line-height: 100px;
color:#0c3c60;
}

/* Heading for Parallax Section */
.paral h1 {
color: rgba(255, 255, 255, 0.8);
font-size: 40px;
text-align: center;
line-height: 50px;
color:#0c3c60;
}

.head-desc {
  width:100%;
  background-color:rgba(251,251,251,0.5);
  padding: 10px;
}

.jumbotron{margin-bottom: 0;}


/* PARALLAX EFFECT ENDS*/

/* PARALLAX MINI */
/* Header Parallax Element Style*/
.paralmini {
min-height: 400px;
background-attachment: fixed;
background-size: cover;
background-position: 50% 50%;
background-color:#e3e3e3;
}
/* Paragraph for Parallax Section */
.paralmini p {
font-size: 24px;
color:#f5f5f5;
text-align: center;
line-height: 60px;
}

/* Heading for Parallax Section */
.paralmini h1 {
color: rgba(255, 255, 255, 0.8);
font-size: 60px;
text-align: center;
padding-top: 60px;
line-height: 100px;
}



.columns {
  background: #0c3c60;
  color:#D1E0EB;
  margin:10px;
  padding:10px;
  text-align: center;
}

.columns h3, .home_titles {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
}

.columns p, .home_desc {
  padding:10px;
  color:#efffff;
}

.columns button {
  background-color: #6ea4ca;
  color:#fff;
  padding:15px;
  border-radius:3px;
  margin-bottom:10px;
  padding-left:25px;
  padding-right:25px;
}

.home_button {
  background-color: #0c3c60;
  color:#fff;
  padding:15px;
  border-radius:3px;
  margin-bottom:10px;
  padding-left:25px;
  padding-right:25px;
}

.columns button:hover {
  color: #0c3c60;
}

.home_button:hover {
  background-color:#39729b;
}

.footer {
  width:100%;
  background-color:#0c3c60;
  text-align:center;
  color:#fff;
  flex-shrink: 0;
  padding:10px;
  /* sticky tags
  /* Height of the footer */
}


.footer img {
  margin-left: 10px;
  margin-right: 10px;
}

.page-title{
  text-transform: uppercase;
  letter-spacing: 2px;
  color:#6ea4ca;
  text-align: center;
  padding: 20px;
}

hr {
    height: 3px;
    background-color:#6ea4ca;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 20%;
    border-radius: 1px;
}

table {
  text-transform: capitalize;
}

.pull-left, .pull-right {
  float: none !important;
  width: 100%;
  padding: 10px;
  text-align: center;
}

footer a{
  color: #fff;
}
footer a:hover {
  color:#e4e4e4;
}

/* RESPONSIVE STYLES */

@media only screen and (max-width: 500px) {
  .navbar-brand {
    font-size:12px;
  }
  .head-desc {
      font-size:10px;
      line-height:10px;
  }

  .head-desc .display-3, .home_titles {
    font-size:25px;
  }

  .paral p {
    font-size: 15px;
    margin-bottom: -13px;
    line-height: 20px;
  }

  .footer {text-align: center;}

}

@media only screen and (min-width: 767.98px) {
  .navbar {
    padding:20px;
  }
  .paral h1 {
    font-size:60px;
  }
  .paral p {
    font-size:24px;
  }

  .footer {
    text-align: left;
  }

  .formContainer
  {
      width: 50% !important;
  }

}

.partners{
  width:100%;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 100%;
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

.badge {
font-size:15px;
padding:10px;
}
